@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
	/* Light theme (default) */
	--color-base-100: #f7f8fa;
	--color-base-200: #e9ebed;
	--color-base-300: #d3d4d6;
	--color-base-content: #242b2f;

	--color-secondary: #aad4f5;
	--color-secondary-content: #1c2327;

	--color-accent: #ffd5d3;
	--color-accent-content: #271f23;

	--color-info: #81d1f0;
	--color-info-content: #010404;

	--color-warning: #ffd489;
	--color-warning-content: #0d0b06;

	/* Dark theme (variant) */
	--color-base-100-dark: #030712;
	--color-base-200-dark: #060d1c;
	--color-base-300-dark: #182230;
	--color-base-content-dark: #f1f2f4;

	--color-secondary-dark: #0082ce;
	--color-secondary-content-dark: #edf7fd;

	--color-accent-dark: #d9487e;
	--color-accent-content-dark: #fcf2f8;

	--color-info-dark: #0090b5;
	--color-info-content-dark: #ebfdfe;

	--color-warning-dark: #d08700;
	--color-warning-content-dark: #fcfae6;

	/* Shared themes */
	--color-destructive: #d73b37;
	--color-destructive-content: #fcf2f8;

	--color-primary: #6f5af6;
	--color-primary-content: #fdf9e8;

	--color-neutral: #8a97ac;
	--color-neutral-content: #f7f8fa;

	--color-green-primary: #00a43b;
	--color-green-primary-content: #effcf3;

	--color-light-green: #8be78f;
	--color-light-green: #020403;

	/* Custom properties */
	--radius-sm: 0.3rem;
	--radius-md: 0.6rem;
	--radius-lg: 0.7rem;
	--radius-xl: 1rem;

	--shadow-sm: 0 1px 2.5px rgba(0, 0, 0, 0.2);
	--shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
	--shadow-lg: 0 10px 15px rgba(0, 0, 0, 0.1);
	--shadow-xl: 0 20px 25px rgba(0, 0, 0, 0.1);
}

@layer utilities {
	.scrollbar-hide::-webkit-scrollbar {
		display: none;
	}

	.scrollbar-hide {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@layer components {
	.input {
		@apply w-full px-3 py-2 text-sm font-medium bg-transparent border rounded-lg outline-none border-neutral placeholder:text-neutral focus-visible:ring-3 focus-visible:ring-secondary dark:focus-visible:ring-secondary-dark;
	}
}
